{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./build"],
                "alias": {
                    "*": "./build/*"
                }
            }
        ]
    ]
}
